<!DOCTYPE html>
<html>
<head>
	<title>Player</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<form class="url_form">
	<input type="url" placeholder="Enter Hotstar Video URL" class="hotstar_url" />
	<button type="submit" class="submit_url">Play</button>
	</form>
	<div class="video_player">
		<video
		id="player"
		class="player"
		controls
		height="400"		
		src=""
		data-viblast-key="7d56c81d-7e23-4e8a-b55c-ab6c9de4240e"		
		></video> <!-- YOUR VIBLAST KEY HERE IN data-viblast-key -->
	</div>

	


</body>
<script type="text/javascript" src="https://cdn.viblast.com/vb/stable/viblast.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
</html>